<h1>Articles: </h1>

<div>
  <strong>Our blog has <%= Article.public_count %> articles and counting!</strong> 
</div>

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end  %>
</ul>

<%= link_to "New Article", new_article_path %>
